.Table-content-wrapper {
    width: 40%;
    height: 400px;
    background-color: aliceblue;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-y: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.Table-content-order {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}